{% extends 'home.html' %}

{% block content %}

<h1>elecCalc - Lecturer mode</h1>
<form action="lectureformat" method="POST">
    {% csrf_token %}

    Enter number of students attending lecture: <input type="text" name="num_stud"><br><br>
    Enter percentage of students using electronic devices: <input type="text" name="lec_type">%<br><br>
    Specify season (Winter = 0, Summer = 1): <input type="text" name="season"><br><br>
    {% if lecture_hall_list %}
        <label for="lecture_halls">Choose a lecture hall:</label>
        <select id="lecture_halls" name="lecture_halls">
            {% for hall in lecture_hall_list %}
                <option value={{ hall.id }}>{{ hall.hall_name }}</option>
            {% endfor %}
        </select>
        <br><br>
    {% else %}
        <p>No lecture halls are available.</p><br><br>
    {% endif %}
    {% if faculty_list %}
        <label for="facultys">Choose a faculty:</label>
        <select id="facultys" name="facultys">
            {% for faculty in faculty_list %}
                <option value={{ faculty.id }}>{{ faculty.faculty_name }}</option>
            {% endfor %}
        </select>
        <br><br>
    {% else %}
        <p>No faculties are available.</p><br><br>
    {% endif %}
    <input type="submit">
</form>
{% endblock %}