{% extends 'home.html' %}

{% block content %}

<h1>elecCalc - Lecturer mode</h1>
<input type=button value="Previous Step" onClick="javascript:history.go(-1);">
<p> You can now select what you want to calculate.</p>
<p> So far you have selected the following parameters: </p>
<p> University: {{ university }} </p>
<p> Number of students: {{ num }} </p>
<p> Faculty: {{ faculty }} </p>
<p> Lecture hall: {{ lecture_hall }} </p>
<p> Streaming service: {{ streaming }} </p>
<p> VoD service: {{ vod }} </p>
<p> </p>
<p> Please select the result you want to calculate: </p> 
<form action="calculator_result_selection" method="POST">
    {% csrf_token %}
    Choose a samling mode: <br>
    <input type="radio" id="sampling_simple" name="sampling" value="Simple" checked="checked">
    <label for="sampling_simple">Simple sampling</label><br>
    <input type="radio" id="sampling_mcmc" name="sampling" value="MCMC">
    <label for="sampling_mcmc">Advanced MCMC sampling</label><br>
	<br>

	Choose any optional outputs: <br>
	<input type="checkbox" id="random_living" name="random_living" value="random_living">
	<label for "random_living"> Randomise living situation of students (instead of using an average value)</label><br>
	<input type="checkbox" id="random_device" name="random_device" value="random_device">
	<label for "random_device"> Randomise used devices of students. Ignores device usage set by faculty.</label><br>
	<input type="checkbox" id="option1" name="option1" value="debug">
    <label for="option1"> Turn debug outputs on</label><br>
	<br>

    <input type="submit" value="Next">
</form>
{% endblock %}
