{% extends 'home.html' %}

{% block content %}
<div class="col col2">
   <h1><h1>Impressum | Legal Notice </h1></h1>
    <h4>
    
            <a class="germancontent" href="#german">Auf Deutsch</a>

    </h4>
      
      <div class="visible-content" id="german">
        <h2>Anschrift:</h2>
        <p>Technische Universität München</p>
        <p>Arcisstraße 21</p>
        <p>80333 München</p>
        <p>Telefon: +4989289-01 </p>
        <h2>Vertretungsberechtigt:</h2>    
        <p>Die Technische Universität München wird gesetzlich vertreten durch den Präsidenten Prof. Dr. Thomas F. Hofmann. </p>
        <p>Die Technische Universität München ist gemäß Art. 11 Abs. 1 S. 1 BayHSchG eine Körperschaft des öffentlichen Rechts mit dem Recht der Selbstverwaltung im Rahmen der Gesetze und zugleich gemäß Art. 1 Abs. 2 Satz 1 Nr. 1 BayHSchG staatliche Hochschule (staatliche Einrichtung). Die Technische Universität München nimmt eigene Angelegenheiten als Körperschaft (Körperschaftsangelegenheiten) unter der Rechtsaufsicht der Aufsichtsbehörde, staatliche Angelegenheiten als staatliche Einrichtung wahr (Art. 12 Abs. 1 BayHSchG).</p>
        <h2>Zuständige Aufsichtsbehörde:</h2>
        <p>Bayerisches Staatsministerium für Wissenschaft und Kunst, Salvatorstraße 2, 80333 München. </p>
        <h2>Umsatzsteueridentifikationsnummer:</h2>
        <p>DE811193231 (gemäß § 27a Umsatzsteuergesetz) </p>
        <h2>Inhaltlich verantwortlich:</h2>
        <p>TUM: Junge Akademie</p>
        <p>Team elecTUM</p>
        <p>Arcisstraße 21</p>
        <p>80333 München</p>
        <p>E-Mail: climate(at)ja.tum.de</p>
        <h2>Konzeption und technische Umsetzung:</h2>
        <p>Für die Realisierung von <a href="https://www.ja.tum.de/climate/" target="_blank">unsere Website</a> sorgt das Team elecTUM (Jahrgang 2021) der TUM: Junge Akademie. Die technische Umsetzung erfolgt mit Nginx unter Verwendung von Django, gehostet auf einem Server des LRZ.</p>
        <h2>Nutzungsbedingungen:</h2>
        <p>Texte, Bilder, Grafiken sowie die Gestaltung dieser Internetseiten können dem Urheberrecht unterliegen.
            Nicht urheberrechtlich geschützt sind nach § 5 des Urheberrechtsgesetz (UrhG)
        </p>
        <ul>
            <li>●	Gesetze, Verordnungen, amtliche Erlasse und Bekanntmachungen sowie Entscheidungen und amtlich verfasste Leitsätze zu Entscheidungen und</li>
            <li>●	andere amtliche Werke, die im amtlichen Interesse zur allgemeinen Kenntnisnahme veröffentlicht worden sind, mit der Einschränkung, dass die Bestimmungen über Änderungsverbot und Quellenangabe in § 62 Abs. 1 bis 3 und § 63 Abs. 1 und 2 UrhG entsprechend anzuwenden sind.</li>
        </ul> 
        <p>Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum privaten und sonstigen eigenen Gebrauch im Rahmen des § 53 UrhG verwenden. Eine Vervielfältigung oder Verwendung urheberrechtlich geschützten Materials dieser Seiten oder Teilen davon in anderen elektronischen oder gedruckten Publikationen und deren Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese Einwilligung erteilen auf Anfrage die für den Inhalt Verantwortlichen. Der Nachdruck und die Auswertung von Pressemitteilungen und Reden sind mit Quellenangabe allgemein gestattet.</p>
        <p>Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter unterliegen. Auch über das Bestehen möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen nähere Auskünfte.</p>
        <h2>Haftungsausschluss:</h2>
        <p>Alle auf dieser Internetseite bereitgestellten Informationen haben wir nach bestem Wissen und Gewissen erarbeitet und geprüft. Eine Gewähr für die jederzeitige Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der bereit gestellten Informationen können wir allerdings nicht übernehmen. Ein Vertragsverhältnis mit den Nutzern des Internetangebots kommt nicht zustande.</p>
        <p>Wir haften nicht für Schäden, die durch die Nutzung dieses Internetangebots entstehen. Dieser Haftungsausschluss gilt nicht, soweit die Vorschriften des § 839 BGB (Haftung bei Amtspflichtverletzung) einschlägig sind. Für etwaige Schäden, die beim Aufrufen oder Herunterladen von Daten durch Schadsoftware oder der Installation oder Nutzung von Software verursacht werden, übernehmen wir keine Haftung. </p>
        <p>Falls im Einzelfall erforderlich: Der Haftungsausschluss gilt nicht für Informationen, die in den Anwendungsbereich der Europäischen Dienstleistungsrichtlinie (Richtlinie 2006/123/EG – DLRL) fallen. Für diese Informationen wird die Richtigkeit und Aktualität gewährleistet.</p>
        <p>Social Media: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links und Kommentare von Dritten auf allen Social-Media-Kanälen der TUM und von elecTUM. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiberinnen und Betreiber verantwortlich.</p>
        <h2>Links:</h2>
        <p>Von unseren eigenen Inhalten sind Querverweise („Links“) auf die Webseiten anderer Anbieter zu unterscheiden. Durch diese Links ermöglichen wir lediglich den Zugang zur Nutzung fremder Inhalte nach § 8 Telemediengesetz. Bei der erstmaligen Verknüpfung mit diesen Internetangeboten haben wir diese fremden Inhalte daraufhin überprüft, ob durch sie eine mögliche zivilrechtliche oder strafrechtliche Verantwortlichkeit ausgelöst wird. Wir können diese fremden Inhalte aber nicht ständig auf Veränderungen überprüfen und daher auch keine Verantwortung dafür übernehmen. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung von Informationen Dritter entstehen, haftet allein der jeweilige Anbieter der Seite.</p>
      </div>

      <h4>
        <a class="englishcontent" href="#english">In English</a>
      </h4>
      
      <div class="visible-content" id="english">
        <h2>Publisher:</h2>
        <p>Technical University of Munich</p>
        <p>Arcisstraße 21</p>
        <p>80333 München</p>
        <p>Phone: +4989289-01 </p>
        <h2>Legal Status and Representation:</h2>    
        <p>The Technical University of Munich is a corporation under public law and a state institution (Art. 11(1) of the Bavarian Higher Education Act – BayHSchG). Its legal representative is Prof. Dr. Thomas F. Hofmann. </p>
        <h2>Supervisory authority:</h2>
        <p>Bavarian State Ministry of Science and the Arts,</p>
        <p>Salvatorstraße 2, </p>
        <p>80333 München</p>
        <p>Germany</p>
        <h2>VAT Identification Number:</h2>
        <p>DE811193231 (in accordance with § 27a of the German VAT tax act – UStG)</p>
        <h2>Responsible for content:</h2>
        <p>TUM: Junge Akademie</p>
        <p>Team elecTUM</p>
        <p>Arcisstrasse. 21</p>
        <p>80333 München</p>
        <p>Germany</p>
        <p>Mail: climate(at)ja.tum.de</p>
        <h2>Conception and technical realization:</h2>
        <p>For the realization of <a href="https://www.ja.tum.de/climate/" target="_blank">our website</a> the Team elecTUM (Year 2021) of TUM: Junge Akademie is responsible. The technical realization is done with Nginx, by using Django, hosted on a server provided by the LRZ.
        </p>
        <h2>Terms of use:</h2>
        <p>Texts, images, graphics, as well as the design of these internet pages, may be subject to copyright.</p>
        <p>The following works are not protected by copyright in accordance with § 5 of the German Copyright Act (UrhG):</p>
        <ul>
            <li>●	acts, statutory instruments, official decrees and official notices, as well as decisions and official head notes of decisions;</li>
            <li>●	other official texts published in the official interest for general information purposes, subject to the proviso that the provisions concerning the prohibition of alteration and the indication of sources in § 62(1) to (3) and § 63(1) and (2) apply accordingly.</li>
        </ul> 
        <p>Private persons may use copyrighted material for private and other personal use in accordance with § 53 of the German Copyright Act (UrhG). Reproduction or use of copyrighted material from these pages, in whole or in part, in other electronic or print media and their publication is not permitted without explicit consent. Upon request, consent will be given by the entity responsible for the content. Reprint and use of press releases and speeches is, as a rule, permitted provided their source is acknowledged.</p>
        <p>Further, texts, images, graphics, and other files may, in whole or in part, be subject to third- party copyright. The entity responsible for the content will provide more detailed information on third-party rights, if any.</p>
        <h2>Liability disclaimer:</h2>
        <p>The information provided on this website has been collected and verified to the best of our knowledge and belief. However, there will be no warranty that the information provided is up to date, correct, complete, and available. There is no contractual relationship with users of this website.</p>
        <p>We accept no liability for any loss or damage caused by using this website. The exclusion of liability does not apply where the provisions of the German Civil Code (BGB) on liability in case of breach of official duty are applicable (§ 839 of the BGB). We accept no liability for any loss or damage caused by malware when accessing or downloading data or the installation or use of software from this website.</p>
        <p>Where necessary in individual cases: the exclusion of liability does not apply to information governed by the Directive 2006/123/EC of the European Parliament and of the Council. This information is guaranteed to be accurate and up to date.</p>
        <p>Social Media: Despite careful control of the content, we accept no liability for the content of external links and third-party comments on any TUM or CreaThesis social media channels. Operators of linked websites bear sole responsibility for their content.</p>
        <h2>Links:</h2>
        <p>Our own content is to be distinguished from cross-references (“links”) to websites of other providers. These links only provide access for using third-party content in accordance with § 8 of the German telemedia act (TMG). Prior to providing links to other websites, we review third-party content for potential civil or criminal liability. However, a continuous review of third-party content for changes is not possible and therefore we cannot accept any responsibility. For illegal, incorrect, or incomplete content, including any damage arising from the use or non-use of third-party information, liability rests solely with the provider of the website.</p>
      </div>

  
      <h1>Datenschutzerklärung | Privacy Policy</h1>

      <h4>
        <a class="privacygerman" href="#privacygerman">Auf Deutsch</a>
      </h4>
      
      <div class="visible-content" id="privacygerman">
        <p>Nachfolgend informieren wir Sie über Art, Umfang und Zweck der Erhebung und Verwendung personenbezogener Daten. Diese Informationen können jederzeit von unserer Webseite abgerufen werden.</p>
        <h2>Allgemeine Informationen:</h2>
        <p><b>Name und Kontaktdaten des Verantwortlichen</b></p>
        <p>Junge Akademie</p>
        <p>Team elecTUM</p>        
        <p>Besucheradresse: Augustenstr. 46, 80333 München</p>      
        <p>Telefon: +49 89 289 22064</p>
        <p>Telefax: +49 89 289 22994</p>
        <p>E-Mail: climate(at)ja.tum.de</p>
        <p><b>Kontaktdaten des/der Datenschutzbeauftragten</b></p>
        <p>Der/Die Datenschutzbeauftragte der Technischen Universität München</p>
        <p>Postanschrift: Arcisstr. 21, 80333 München</p>
        <p>Telefon: 089/289-17052</p>
        <p>E-Mail: beauftragter(at)datenschutz.tum.de</p>
        <p><b>Zwecke und Rechtsgrundlagen für die Verarbeitung personenbezogener Daten</b></p>
        <p>Zweck der Verarbeitung ist die Erfüllung der uns vom Gesetzgeber zugewiesenen öffentlichen Aufgaben, insbesondere der Information der Öffentlichkeit.</p>
        <p>Die Rechtsgrundlage für die Verarbeitung Ihrer Daten ergibt sich, soweit in dieser Datenschutzerklärung nichts anderes angegeben ist, aus Art. 4 Abs. 1 des Bayerischen Datenschutzgesetzes (BayDSG) in Verbindung mit Art. 6 Abs. 1 UAbs. 1 Buchst. e) der Datenschutzgrundverordnung (DSGVO). Demnach ist es uns erlaubt, die zur Erfüllung einer uns obliegenden Aufgabe erforderlichen Daten zu verarbeiten.</p>
        <p><b>Empfänger von personenbezogenen Daten</b></p>
        <p>Beim Betrieb unserer Website erhalten verschiedene Datenempfänger Zugriff auf personenbezogene Daten.</p>
        <p>Unser Webserver wird durch das Leibniz-Rechenzentrum der Bayerischen Akademie der Wissenschaften (LRZ) betrieben. Die von Ihnen im Rahmen des Besuchs unseres Webauftritts übermittelten personenbezogenen Daten werden daher in unserem Auftrag durch das LRZ verarbeitet:</p>
        <p>Leibniz-Rechenzentrum (LRZ) der Bayerischen Akademie der Wissenschaften</p>
        <p>Boltzmannstraße 1</p>
        <p>D-85748 Garching bei München</p>
        <p>Telefon: +49 89 35831 8000</p>
        <p>Fax: +49 89 35831 9700 </p>
        <p>E-Mail: lrzpost(at)lrz.de  </p>
        <p>https://www.lrz.de</p>
        <p>Gegebenenfalls werden Ihre Daten an die zuständigen Aufsichts- und Rechnungsprüfungsbehörden zur Wahrnehmung der jeweiligen Kontrollrechte übermittelt.</p>
        <p>Zur Abwehr von Gefahren für die Sicherheit in der Informationstechnik können bei elektronischer Übermittlung Daten an das Landesamt für Sicherheit in der Informationstechnik weitergeleitet werden und dort auf Grundlage der Art. 12 ff. des Bayerischen E-Government-Gesetzes verarbeitet werden.</p>
        <p><b>Dauer der Speicherung der personenbezogenen Daten</b></p>
        <p>Ihre Daten werden nur so lange gespeichert, wie dies unter Beachtung gesetzlicher Aufbewahrungsfristen zur Aufgabenerfüllung erforderlich ist.</p>
        <p><b>Ihre Rechte</b></p>
        <p>Soweit wir von Ihnen personenbezogene Daten verarbeiten, stehen Ihnen als Betroffener nachfolgende Rechte zu:</p>
        <ul>
            <li>●	Sie haben das Recht auf Auskunft über die zu Ihrer Person gespeicherten Daten (Art. 15 DSGVO).</li>
            <li>●	Sollten unrichtige personenbezogene Daten verarbeitet werden, steht Ihnen ein Recht auf Berichtigung zu (Art. 16 DSGVO).</li>
            <li>●	Liegen die gesetzlichen Voraussetzungen vor, so können Sie die Löschung oder Einschränkung der Verarbeitung verlangen (Art. 17 und 18 DSGVO).</li>
            <li>●	Wenn Sie in die Verarbeitung eingewilligt haben oder ein Vertrag zur Datenverarbeitung besteht und die Datenverarbeitung mithilfe automatisierter Verfahren durchgeführt wird, steht Ihnen gegebenenfalls ein Recht auf Datenübertragbarkeit zu (Art. 20 DSGVO).</li>
            <li>●	Falls Sie in die Verarbeitung eingewilligt haben und die Verarbeitung auf dieser Einwilligung beruht, können Sie die Einwilligung jederzeit für die Zukunft widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Datenverarbeitung wird durch diesen nicht berührt. Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Ihrer Daten Widerspruch einzulegen, wenn die Verarbeitung ausschließlich auf Grundlage des Art. 6 Abs. 1 Buchst. e) oder f) DSGVO erfolgt (Art. 21 Abs. 1 Satz 1 DSGVO).</li>
        </ul>
        <p><b>Beschwerderecht bei der Aufsichtsbehörde</b></p>
        <p>Weiterhin besteht ein Beschwerderecht bei einer Aufsichtsbehörde. Für die Technische Universität München zuständig ist der Bayerische Landesbeauftragte für den Datenschutz. Diesen können Sie unter folgenden Kontaktdaten erreichen:</p>
        <p>Postanschrift: Postfach 22 12 19, 80502 München</p>
        <p>Adresse: Wagmüllerstraße 18, 80538 München</p>
        <p>Telefon: +49 89 212672-0</p>
        <p>Telefax: +49 89 212672-50</p>
        <p>E-Mail: poststelle(at)datenschutz-bayern.de</p>
        <p>https://www.datenschutz-bayern.de/</p>
        <p><b>Weitere Informationen</b></p>
        <p>Für nähere Informationen zur Verarbeitung Ihrer Daten und zu Ihren Rechten können Sie uns unter den oben genannten Kontaktdaten erreichen.</p>
        <h2>Informationen zum Internetauftritt:</h2>
        <p><b>Log-Files</b></p>
        <p>Wenn Sie diese oder andere Internetseiten aufrufen, übermitteln Sie über Ihren Internetbrowser Daten an unseren Webserver. Die folgenden Daten werden während einer laufenden Verbindung zur Kommunikation zwischen Ihrem Internetbrowser und unserem Webserver temporär in einer Logdatei aufgezeichnet:</p>
        <ul>
            <li>●	IP-Adresse des anfragenden Rechners</li>
            <li>●	Datum und Uhrzeit des Zugriffs</li>
            <li>●	Name, URL und übertragene Datenmenge der abgerufenen Datei</li>
            <li>●	Zugriffsstatus (angeforderte Datei übertragen, nicht gefunden etc.)</li>
            <li>●	Erkennungsdaten des verwendeten Browser- und Betriebssystems (sofern vom anfragenden Webbrowser übermittelt)</li>
        </ul>
        <p>Die Verarbeitung der Daten in dieser Logdatei geschieht wie folgt:</p>
        <ul>
            <li>●	Die Logeinträge werden kontinuierlich automatisch ausgewertet, um Angriffe auf die Webserver erkennen und entsprechend reagieren zu können.</li>
            <li>●	In Einzelfällen, d.h. bei gemeldeten Störungen, Fehlern und Sicherheitsvorfällen, erfolgt eine manuelle Analyse.</li>
            <li>●	Logeinträge, die älter als sieben Tage sind, werden durch Kürzung der IP-Adresse anonymisiert.</li>
            <li>●	Die anonymisierten Logs werden zur Erstellung von Zugriffsstatistiken verwendet. Die hierfür eingesetzte Software wird lokal vom LRZ betrieben.</li>
        </ul>
        <p>Die in den Logeinträgen enthaltenen IP-Adressen werden vom LRZ nicht mit anderen Datenbeständen zusammengeführt, so dass für das LRZ kein Rückschluss auf einzelne Personen möglich ist.</p>
        <p><b>Cookies und ähnliche Technologien</b></p>
        <p>Cookies sind kleine Textdateien, die auf Ihrem Computer oder mobilen Endgeräten gespeichert werden, wenn Sie unser Internetangebot besuchen. Uns fließen durch das Setzen der Cookies verschiedene Informationen zu.</p>
        <p>Ergänzend zu Cookies setzen manche Dienste sog. „Local Storage-Einträge“ ein. Ein Local Storage-Eintrag ist funktionell mit Cookies vergleichbar, der Unterschied besteht darin, dass beim Local Storage Informationen im Cache Ihres Browsers abgelegt werden. Soweit Dienste auf unserer Website den Local Storage nutzen, weisen wir in dieser Datenschutzerklärung ausdrücklich darauf hin.</p>
        <p>Darüber hinaus setzen manche Dienste auch sog. „Zählpixel“ ein.</p>
        <p><b>Essentielle Cookies</b></p>
        <p>Für den ordnungsgemäßen Betrieb unseres Internetauftritts und die ordnungsgemäße Anzeige der Inhalte sind bestimmte Cookies technisch erforderlich, um Ihnen unser Internetangebot überhaupt anzeigen zu können. Diese „essentiellen Cookies“ können nicht abgewählt werden, weil ohne sie unser Internetauftritt nicht angeboten werden kann. Einige Cookies sind “Session-Cookies.” Solche Cookies werden nach Ende Ihrer Browser-Sitzung von selbst gelöscht. </p>
        <h2>Informationen zu einzelnen Verarbeitungen:</h2>
        <p><b>Online-Formulare</b></p>  
        <p>Personenbezogene Daten, die Sie gegebenenfalls über Kontaktformulare, Anmeldeformulare und ähnliche Webseiten auf unseren Webservern an uns leiten werden nur mit Ihrem Einverständnis entgegengenommen und dienen ausschließlich dem in den Formularen genannten Zweck. Bitte beachten Sie die entsprechenden Hinweise auf den Formularen.</p> 
        <p>In allen Formularen werden nur die personenbezogenen Daten erhoben, die unbedingt erforderlich sind. Die darüberhinausgehenden Angaben Ihrerseits sind freiwillig. Üblicherweise werden die personenbezogenen Daten in einer Datenbank des Leibniz Rechenzentrums gespeichert und sind den jeweils zuständigen Mitarbeitern der TUM zugänglich. Ist der Zweck der Datenerhebung, die Daten auch anderen Mitgliedern der TUM zugänglich zu machen, so wird hierbei das Prinzip der Datensparsamkeit beachtet. Ihre Daten werden nicht an Dritte weiteregegeben, es sei denn, dies ist im Formular explizit angegeben.</p>
        <p>Ihre personenbezogen Daten werden nach Zweckerfüllung gelöscht, es sei denn Sie haben Ihre Einwilligung zu weiteren Kontaktpflege gegeben.</p>
        <p>Rechtsgrundlage ist Art. 6 Abs. 1 Buchst. a) DSGVO. Sie können jederzeit für die Zukunft Ihre Einwilligung widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Datenverarbeitung wird durch diesen nicht berührt. Hierzu wenden Sie sich bitte an it-support(at)tum.de. Ihre Daten werden dann unverzüglich gelöscht.</p>

    </div>

      <h4>
        <a class="privacyenglish" href="#privacyenglish">In English</a>
      </h4>
      
      <div class="visible-content" id="privacyenglish">
        <p>In the following, we inform you about the type, scope and purpose of the collection and use of personal data. This information can be accessed at any time from our website.</p>
        <h2>General Information:</h2>
        <p><b>Name and contact details of the responsible person</b></p>
        <p>TUM: Junge Akademie    </p>
        <p>Team elecTUM              </p>
        <p>Visitor address: Augustenstr. 46, 80333 München, Germany         </p>
        <p>Phone: +49 89 289 22064             </p>
        <p>Fax: +49 89 289 22994    </p>
        <p>E-Mail: climate(at)ja.tum.de</p>
        <p><b>Contact details of the data protection officer</b></p>
        <p>You can reach our data protection officer at:       </p>
        <p>Postal address: Arcisstr. 21, 80333 München, Germany    </p>
        <p>Phone: +49 89 289 17052             </p>
        <p>E-Mail: beauftragter(at)datenschutz.tum.de</p>
        <p><b>Purpose and legal basis for the processing of personal data</b></p>
        <p>The purpose of the processing is to fulfill the public tasks assigned to us by law, in particular to provide information to the public.</p>
        <p>Unless otherwise stated, the legal basis for processing your data results from Article 4 (1) of the Bavarian Data Protection Act (BayDSG) in conjunction with Article 6 (1) (1) (e) of the General Data Protection Regulation (DSGVO). Accordingly, we are permitted to process the data necessary to fulfill a task incumbent upon us.</p>
        <p><b>Recipients of personal data</b></p>
        <p>During the operation of our website, various data recipients gain access to personal data.</p>
        <p>Our web server is operated by the Leibniz Supercomputing Center of the Bavarian Academy of Sciences and Humanities (LRZ). The personal data you provide when visiting our website is therefore processed by the LRZ on our behalf:</p>
        <p>Leibniz-Rechenzentrum (LRZ) der Bayerischen Akademie der Wissenschaften        </p>
        <p>Boltzmannstraße 1          </p>
        <p>D-85748 Garching bei München  </p>
        <p>Phone: +49 89 35831 8000           </p>
        <p>Fax: +49 89 35831 9700 </p>
        <p>Mail: lrzpost(at)lrz.de      </p>
        <p>https://www.lrz.de</p>
        <p>If necessary, your data will be transmitted to the competent supervisory and auditing authorities for the exercise of the respective control rights.</p>
        <p>In order to avert threats to information technology security, data may be forwarded to the State Office for Information Technology Security in the case of electronic transmission and processed there on the basis of Art. 12 et seq. of the Bavarian E-Government Act.</p>
        <p><b>Duration of the storage of personal data</b></p>
        <p>Your data will only be stored for as long as is necessary for the fulfillment of tasks, taking into account statutory retention periods.</p>
        <p><b>Your rights</b></p>
        <p>Insofar as we process personal data from you, you are entitled to the following rights as a data subject:</p>
        <ul>
            <li>●	You have the right to information about the data stored about you (Art. 15 DSGVO).</li>
            <li>●	If incorrect personal data is processed, you have the right to rectification (Art. 16 DSGVO).</li>
            <li>●	If the legal requirements are met, you may request the deletion or restriction of processing (Art. 17 and 18 DSGVO).</li>
            <li>●	If you have consented to the processing or if there is a contract for data processing and the data processing is carried out with the help of automated procedures, you may have a right to data portability (Art. 20 DSGVO).</li>
            <li>●	If you have consented to the processing and the processing is based on this consent, you can revoke the consent at any time for the future. The lawfulness of the data processing carried out on the basis of the consent until the revocation is not affected by it.</li>
        </ul>
        <p>You have the right to object to the processing of your data at any time on grounds relating to your particular situation, if the processing is carried out exclusively on the basis of Art. 6 (1) (e) or (f) DSGVO (Art. 21 (1) (1) DSGVO).</p>
        <p><b>Right of complaint to the supervisory authority</b></p>
        <p>Furthermore, there is a right of appeal to the Bavarian State Commissioner for Data Protection. You can reach this under the following contact details:</p>
        <p>Postal address: P.O. Box 22 12 19, 80502 München, Germany</p>
        <p>Address: Wagmüllerstraße 18, 80538 München, Germany</p>
        <p>Phone: +49 89 212672-0</p>
        <p>Fax: +49 89 212672-50</p>
        <p>Mail: poststelle(at)datenschutz-bayern.de</p>
        <p>https://www.datenschutz-bayern.de</p>
        <h2>Further information:</h2>   
        <p>For more detailed information on the processing of your data and your rights, you can contact us using the contact details given above.</p>
        <p><b>Information about the internet presence</b></p>
        <p><b>Log-Files</b></p>
        <p>When you access this or other web pages, you transmit data to our web server via your Internet browser. The following data is recorded during an ongoing connection for communication between your Internet browser and our web server:</p>
        <ul>
            <li>●	Complete IP address of the requesting computer</li>
            <li>●	Date and time of the request</li>
            <li>●	Amount of data transferred.</li>
            <li>●	Access status (file transferred, file not found, etc.)</li>
            <li>●	Web browser and operating system used</li>
            <li>●	Name of the requested file</li>
            <li>●	Page from which the file was requested</li>
        </ul>
        <p>The processing of the data in this log file is done as follows:</p>
        <ul>
            <li>●	The log entries are continuously evaluated automatically in order to detect attacks on the web servers and respond accordingly.</li>
            <li>●	In individual cases, i.e. in the event of reported malfunctions, errors and security incidents, a manual analysis is carried out.</li>
            <li>●	Log entries older than seven days are anonymized by shortening the IP address.</li>
            <li>●	The anonymized logs are used to create access statistics. The software used for this is operated locally by the LRZ.</li>
        </ul>
        <p>The IP addresses contained in the log entries are not merged by the LRZ with other databases, so that the LRZ cannot draw any conclusions about individual persons.</p>
        <p><b>Cookies and similar technologies</b></p>
        <p>Cookies are small text files that are stored on your computer or mobile devices when you visit our website. Various information flows to us through the setting of the cookies.</p>
        <p>In addition to cookies, some services use so-called “local storage entries”. A local storage entry is functionally comparable to cookies, the difference being that with local storage, information is stored in your browser’s cache. Insofar as services on our website use local storage, we expressly point this out in this data protection declaration.</p>
        <p>In addition, some services also use so-called “tracking pixels”.</p> 
        <p><b>Essential cookies</b></p>
        <p>For the proper operation of our internet presence and the proper display of the contents, certain cookies are technically necessary to be able to show you our internet offer at all. These “essential cookies” cannot be deselected, because without them our internet presence cannot be offered. Some cookies are “session cookies.” Such cookies are automatically deleted at the end of your browser session.</p>
        <h2>Information on the individual processing operations:</h2>
        <p><b>Online-forms</b></p>
        <p>Personal data that you may send to us via contact forms, registration forms and similar web pages on our web servers will only be accepted with your consent and will only be used for the purpose stated in the forms. Please note the corresponding information on the forms.</p>
        <p>In all forms, only the personal data that is absolutely necessary is collected. Any additional information you provide is voluntary. Usually, the personal data is stored in a database of the Leibniz Computing Center and is accessible to the respective responsible employees of TUM. If the purpose of the data collection is to make the data accessible to other members of the TUM, the principle of data economy will be observed. Your data will not be passed on to third parties unless this is explicitly stated in the form.</p>
        <p>Your personal data will be deleted after the purpose has been fulfilled unless you have given your consent to further contact.</p> 
        <p>The legal basis is Art. 6 para. 1 letter a) DSGVO. You can revoke your consent at any time for the future. The legality of the data processing carried out on the basis of the consent until the revocation is not affected by this. To do so, please contact it-support(at)tum.de. Your data will then be deleted immediately.</p>

        
        </div>

</div>

<script>
// Show an element
var show = function (elem) {
	elem.classList.add('is-visible');
};
// Hide an element
var hide = function (elem) {
	elem.classList.remove('is-visible');
};
// Toggle element visibility
var toggle = function (elem) {
	elem.classList.toggle('is-visible');
};


document.addEventListener('click', function (event) {

	if (!event.target.classList.contains('englishcontent')) return;
	event.preventDefault();
	var content = document.querySelector(event.target.hash);
	if (!content) return;
	toggle(content);

}, false);

document.addEventListener('click', function (event) {

    if (!event.target.classList.contains('germancontent')) return;
    event.preventDefault();
    var content = document.querySelector(event.target.hash);
    if (!content) return;
    toggle(content);

}, false);

document.addEventListener('click', function (event) {

if (!event.target.classList.contains('privacygerman')) return;
event.preventDefault();
var content = document.querySelector(event.target.hash);
if (!content) return;
toggle(content);

}, false);

document.addEventListener('click', function (event) {

if (!event.target.classList.contains('privacyenglish')) return;
event.preventDefault();
var content = document.querySelector(event.target.hash);
if (!content) return;
toggle(content);

}, false);


</script>




{% endblock %}