*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: #353553;
  font-weight: 400;
}
main {
    background: #151418;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
  }
